@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height:100%;
}

.container {
  display: flex;
}

.navigation {
  background:linear-gradient(rgba(145, 9, 30), rgba(145, 9, 30, .8)), url(bg3.jpg)
  no-repeat;
  padding: 50px;
}

.navigation a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 15px;
  color: #FDF1D6;
}

.navigation a:hover{
    color: #C39E5C;
}

body{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(145, 9, 30, .8), rgba(145, 9, 30, .8));
}


.home {
    background-color: #FDF1D6;
    padding: 5rem;
}

.home .content{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #DA723C;
}

.home .input_container{
    margin-bottom: 1.3rem;
}

.home .input_container > input[type="text"]{
    width: 100%;
    border: 2px solid #C39E5C;
    padding: 0.6rem;
    margin-top: 0.5rem;
    color:#91091e;
    font-weight: 500;
}

.home .unit_converter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.home .unit_converter .left {
    margin-right: 1rem;
    color: #DA723C;
}

.home .unit_converter .middle {
    margin-right: 1rem;
    margin-left: 1rem;
    color: #DA723C;
}

.home .unit_converter .right {
    margin-left: 1rem;
    color: #DA723C;
}

.home .select_container > select{
    border: 2px solid #C39E5C;
    padding:0.2rem;
    margin-top: 0.5rem;
    color: #DA723C;
}

.home .select_container > select:hover{
    color: #C39E5C;
}


.middle > i {
    margin-top: 180%;
}

.home .result_container {
    margin-bottom: 1.5rem;
}

.home .result_container > input[type="text"]{
    width: 100%;
    border: 2px solid #C39E5C;
    padding: 0.6rem;
    margin-top: 0.5rem;
    color: #DA723C;
    font-weight: 500;
}

.home .bottom > button {
    border: 2px solid #C39E5C;
    background: #FDF1D6;
    padding:0.5rem;
    margin-right: 7rem;
    margin-left: 7rem;
    margin-top: 0.5rem;
    color: #DA723C;
}

.home .bottom > button:hover{
    color: #C39E5C;
}



/* Smartphone */
@media (max-width: 480px) {
    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        top: 24%;
        left: 7%;
        width: 82%;
        margin-right: 50%;
        margin-left: 2%;
        height: 60px; /* Sesuaikan tinggi navigasi bar sesuai kebutuhan */
        background:linear-gradient(rgba(145, 9, 30), rgba(145, 9, 30, .8)), url(bg3.jpg) no-repeat;
        padding: 15px;
    }

    .navigation a {
        display: block;
        padding: 3px;
        margin: auto;
        font-size: 13px;
    }

    .home {
        padding: 1.5rem;
    }

    .home .content {
        font-size: 1rem;
    }

    .home .input_container > input[type="text"] {
        font-size: 12px;
    }

    .home .unit_converter .left,
    .home .unit_converter .right {
        margin: 0;
        font-size: 12px;
    }

    .home .select_container > select {
        font-size: 12px;
        width: 100%;
    }

    .home .result_container > input[type="text"] {
        font-size: 12px;
    }

    .home .bottom > button {
        margin-right: 7rem;
        margin-left: 7rem;
        font-size: 12px;
    }
}