@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.home{
    min-height: 100vh;
    background: linear-gradient(rgba(145, 9, 30), rgba(145, 9, 30, .8)), url(bg3.jpg)
    no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.home .content h1{
    font-size: 4.5rem;
    color: #FDF1D6;
    padding:0 1rem;
    text-shadow: 0. 3rem .9rem rgba(0,0,0);
    text-transform: uppercase;
}

.home .content p{
    font-size: 1.5rem;
    color: #FDF1D6;
}

.home .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home .box-container .box {
    height: 15rem;
    width: 15rem;
    background: #FDF1D6;
    text-align: center;
    border-radius: 1rem;
    box-shadow:0 .3rem .5rem rgba(0,0,0, .5);
    margin: 2rem;
    cursor: pointer;
}

.home .box-container .box i{
    height: 5.5rem;
    width: 5.5rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #91091E;
    font-size: 28px;
    margin: 1rem 0;
    transition: .2s;
}

.home .box-container .box h3 {
    font-size: 1.8rem;
    color: #DA723C;
    transition: .2s;
}

.home .box-container .box p{
    font-size: 0.5rem;
    padding: 2rem;
    color: #666;
}

.home .box-container .box:hover i{
    background: #DA723C;
}

.home .box-container .box:hover h3{
    color:#91091E;
}

.home::before{
    content:'';
    position: absolute;
    bottom:-25rem; left:50%;
    transform: translateX(-50%);
    border-top: 70vh solid #FDF1D6;
    width:120%;
    border-radius: 50%;
    z-index: -1;
}


@media (max-width: 480px) {
    .home .content h1{
        margin-top: 4rem;
        font-size: 2rem;
    }

    .home .content p{
        font-size: 1rem;
    }

    .home .box-container .box {
        margin-top: 2rem;
        height: 8.5rem;
        width: 8.5rem;
        cursor: pointer;
    }

    .home .box-container .box i{
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        background: #91091E;
        font-size: 15px;
        margin: 1rem 0;
        transition: .2s;
    }

    .home .box-container .box h3 {
        font-size: 1rem;
        color: #DA723C;
        transition: .2s;
    }

    .home .box-container .box:hover i{
        background: #DA723C;
    }
    
    .home .box-container .box:hover h3{
        color:#91091E;
    }

    .home::before{
        content:'';
        position: absolute;
        bottom:-30rem; left:50%;
        transform: translateX(-50%);
        border-top: 65vh solid #FDF1D6;
        width:120%;
        border-radius: 50%;
        z-index: -1;
    }

}









